@font-face {
    font-family: 'HelveticaNeue_Roman';
    src: url('HelveticaNeue_Roman.otf');
}

@font-face {
    font-family: 'HelveticaNeue_Bold';
    src: url('HelveticaNeue_Bold.otf');
}


body{
	font-family: 'HelveticaNeue_Roman', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #000;
	line-height: 1.4em;
	margin: 0px;
}

a{
	color: #000;
	text-decoration: none;
	border-bottom: 1.5px solid #000;
}

a:visited,active{
	color: #000;
	text-decoration: none;
}

a:hover{
	color: #fff;
	background: #000;
}

h1{
	font-family: 'HelveticaNeue_Bold', sans-serif;
	font-size: 86px;
	line-height: 1.1em;
}

h2{
	font-family: 'HelveticaNeue_Roman', sans-serif;
	font-size: 18px;
	line-height: 1.1em;
}

strong{
	font-family: 'HelveticaNeue_Bold', sans-serif;
}


/* divs */


div.body{
	width: 100%;
	margin: 0px auto;
}

div.sidebar{
	display: inline-block;
	float: left;
	width: 5px;
	background-color: pink;

}


div.spacersmall{
	height: 128px;
}

div.spacerlarge{
	height: 256px;
}

div.full{
	width: 100%;
	margin: 0px auto;
	padding: 16px;
}

div.large{
	max-width: 1200px;
	margin: 0px auto;
	padding: 16px;
}

div.small{
	max-width: 650px;
	margin: 0px auto;
	padding: 16px;
}

div.flex-container{
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	padding: 16px;
	flex-grow: 1;
	flex-basis: 0;
	align-self: flex-start;
	min-width: 300px;
}



/* components */


/* nav */


div.go{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	margin: 0;
	border-bottom: 1.5px solid #000;
	background-color: #FFF;

}

.go ul{
	margin: 0px;
	padding: 10px;
}

.go li{
	list-style-type: none;
	float: right;
	display: inline-block;
	padding: 0px 20px;
}

.go a{
	color: #000;
	text-decoration: none;
	border-bottom: 0px solid;
}

.go a:hover{
	color: #fff;
	background: #000;
}

.iam{
	margin: 0px;
	padding: 10px;
	display: inline;
	float: left;
}


/* divider */

hr{
	border-top: 1.5px solid #000;
}

/* inline image */

span.img{
	margin: 0px;
	padding: 0px 32px;
	display: inline;
	float: left;
}

