body{
	font-family: 'Karla', sans-serif;
	font-size:24px;
	color: #000;
	line-height: 1.4em;
	margin:0px;
}

a{
	color:#000;
	text-decoration:none;
	border-bottom:2px solid #000;
}

a:visited,active{
	color:#000;
	text-decoration:none;
}

a:hover{
	color:#fff;
	background:#000;
}


/* divs */


div.spacersmall{
	height:128px;
}

div.spacerlarge{
	height:256px;
}

div.full{
	width:100%;
	margin:0px auto;
	padding:16px;
}

div.large{
	max-width:1200px;
	margin:0px auto;
	padding:16px;
}

div.small{
	max-width:650px;
	margin:0px auto;
	padding:16px;
}

div.flex-container{
	max-width:1200px;
	margin:0px auto;
	display:flex;
	flex-wrap:nowrap;
}

.flex-container > div {
	margin:16px;
	flex-grow:1;
	align-self:flex-start;
}



/* nav */


div.go{
	width:100%;
	position:fixed;
	top:0;
	z-index:99;
	margin:0;
	background-color: #FFF;
	border-bottom:2px solid #000;

}

.go ul{
	margin:0px;
	padding:20px;
}

.go li{
	list-style-type:none;
	float:right;
	display:inline-block;
	padding: 0px 20px;
}

.go a{
	color:#000;
	text-decoration:none;
	border-bottom:0px solid;
}

.go a:hover{
	color:#fff;
	background:#000;
}

.iam{
	margin:0px;
	padding:16px;
	display:inline;
	float:left;
}


/* nav alt */

div.navalt{
	width:90px;
	position:fixed;
	float: left;
	top:0;
	z-index:99;
	margin:0;
	background-color: #FFF;
	border-right:2px solid #000;

}

.navalt ul{
	margin:0px;
	padding:20px;
}

.navalt li{
	list-style-type:none;
	transform: rotate(-90deg);
	float:top;
	display:inline-block;
	padding: 0px 20px;
}

.navalt a{
	color:#000;
	text-decoration:none;
	border-bottom:0px solid;
}

.navalt a:hover{
	color:#fff;
	background:#000;
}

.iamalt{
	margin:0px;
	transform: rotate(-90deg);
	padding:16px;
}


